.CodeMirror {
  width: 100%;
  height: 100%;

  border: 1px solid var(--vita-border);
  border-radius: var(--vita-radius-sm);

  overflow: hidden;

  :global(.cm-line) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  :global(.cm-focused) {
    outline: none;
  }

  :global(.cm-lintRange-error) {
    background-size: auto auto;
  }

  &.hasError {
    border-color: var(--vita-error);

    &:hover {
      border-color: var(--vita-error);
    }

    :global(.cm-focused) {
      border-color: var(--vita-error);
      box-shadow: var(--vita-focus-ring-error);
    }
  }
}
