.TabBar {
  display: flex;
  align-items: center;
  width: max-content;
  height: 32px;
  min-height: 32px;

  border-radius: var(--vita-radius-sm);
  overflow: hidden;

  .TabBarItem {
    position: relative;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    height: 100%;
    padding: 0px 15px;

    font-size: 14px;
    color: var(--vita-foreground);

    transition: all 0.3s;

    cursor: pointer;

    border: 1px solid var(--vita-border);

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:first-child {
      border-radius: inherit;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-child {
      border-radius: inherit;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &:hover {
      color: var(--vita-primary);
    }

    &.active {
      background: var(--vita-primary);

      color: #fff;

      z-index: 2;
    }
  }

  // Outline variant styles
  &.outlineTabBar {
    column-gap: 32px;

    height: 100%;

    border: none;

    border-radius: 0px;

    .TabBarItem {
      position: relative;

      padding: 0px;

      border: none !important;
      border-radius: none !important;

      background: transparent !important;

      font-size: 16px !important;
      color: var(--vita-foreground) !important;

      transition: all 0.2s;

      &:hover {
        color: var(--vita-primary) !important;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 3px;

        border-radius: 100px 100px 0px 0px;

        transition: all 0.2s;
      }

      &.active {
        font-weight: 500;
        font-size: 16px;
        color: var(--vita-primary) !important;

        &::after {
          background: var(--vita-primary);
        }
      }
    }
  }
}
