.Copy {
  display: flex;
  align-items: center;
  column-gap: 5px;

  width: max-content;
  padding: 2px 4px;

  font-size: 14px;
  line-height: 18px;
  color: var(--cf-text-2);

  cursor: pointer;

  transition: color 0.3s, background-color 0.3s;

  border-radius: 4px;

  .icon {
    font-size: 18px;
    color: var(--cf-text-2);

    transition: color 0.3s;
  }

  &:hover {
    color: var(--cf-text);

    background-color: var(--cf-row-hover);

    .icon {
      color: var(--cf-text);
    }
  }
}
