.Copy {
  display: flex;
  align-items: center;
  column-gap: 5px;

  width: max-content;
  padding: 2px 4px;

  font-size: 14px;
  line-height: 18px;
  color: var(--vita-muted-foreground);

  cursor: pointer;

  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--vita-foreground);

    background-color: var(--vita-hover);

    border-radius: var(--vita-radius-xs);
  }

  .icon {
    font-size: 18px;
  }
}

.Copyed {
  display: flex;
  align-items: center;
  column-gap: 5px;

  font-size: 14px;
  line-height: 18px;
  color: var(--vita-foreground);

  cursor: default;

  .icon {
    font-size: 18px;
  }
}
