.StepPicker {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;

  .icon {
    &:global(.ant-btn-icon-only) {
      width: 32px;
      height: 32px;
    }

    border-radius: var(--vita-radius-xs);

    font-size: 16px;
  }

  .time {
    width: 32px;
    min-width: max-content;
    height: 32px;
    padding: 0px 4px;

    font-size: 16px;
    border-radius: var(--vita-radius-xs);
  }
}
