.clip {
  width: var(--vita-control-height);
  height: var(--vita-control-height);

  border-radius: var(--vita-radius);

  :global(.ant-btn-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
